@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(
    225deg,
    #df4896 0%,
    #ee877e 50.91%,
    #fdc366 100%
  );
  --YouTube: hsl(348, 97%, 39%);

  --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --Toggle-light: hsl(230, 22%, 74%);

  /* light mode */
  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(228, 100%, 98%);
  --Light-Grayish-Blue: hsl(228, 50%, 96%);
  --Dark-Grayish-Blue: hsl(229, 12%, 44%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

/* upper section */

.social-media-dashboard {
  /* width: 100%;
  min-height: 100vh; */
  /* background-color: lightblue; */
  padding-top: 3.6rem;
  padding-bottom: 6rem;
}
.social-upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 4.6rem;
}

.social-upper-section .left {
  /* margin-bottom: 4.6rem; */
}

.heading-secondary {
  font-size: 2.8rem;
  color: var(--Very-Dark-Blue);
}

.social-upper-section .left p {
  font-size: 1.4rem;
  color: var(--Dark-Grayish-Blue);
}

.social-upper-section .right {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.social-upper-section .right p {
  font-size: 1.4rem;
  color: var(--Toggle-light);
}

.toggle-btn {
  width: 4.8rem;
  height: 2.4rem;
  background-color: var(--Toggle-light);
  border-radius: 10rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: var(--White);
  margin: 2.5px;
  transition: all 0.3s;
}

.input-checkbox:checked + .toggle-btn::before {
  transform: translateX(24px);
}
.input-checkbox:checked + .toggle-btn {
  background: linear-gradient(225deg, #40db86 0%, #388fe7 98.02%);
}

.input-checkbox {
  display: none;
}

/* middle Section */

.social-follower-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-bottom: 4.6rem;
}

.social-follower-card {
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 3rem; */
  text-align: center;
  padding: 3.5rem 0 2.4rem 0;
  border-radius: 5px;
  border-top: 4px solid;
  overflow: hidden;
}
.facebook-card {
  border-color: var(--Facebook);
}

.twitter-card {
  border-color: var(--Twitter);
}

.instagram-card {
  /* border-image: linear-gradient(
    225deg,
    #df4896 0%,
    #ee877e 50.91%,
    #fdc366 100%
  ); */
  border-image: var(--Instagram);
  border-image-slice: 1;
}

.youtube-card {
  border-color: var(--YouTube);
}

.social-handle {
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 3rem;
}

.social-handle a {
  display: inline-block;
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
}

.follower-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.follower-section h2 {
  font-size: 5.6rem;
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}

.follower-section p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--Dark-Grayish-Blue);
}

.follower-growth {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 4px;
}

.up-growth {
  color: var(--Lime-Green);
}

.down-growth {
  color: var(--Bright-Red);
}

/* overview section */

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 2.4rem;
}

.overview-cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 2.4rem;
}

.overview-card {
  background-color: var(--Light-Grayish-Blue);
  padding: 2.8rem 3rem 2rem 2.4rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.overview-des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--Dark-Grayish-Blue);
}

.overview-stats {
  font-weight: 700;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.overview-stats p:first-child {
  font-size: 3.2rem;
  color: var(--Very-Dark-Blue);
}

.overview-stats p:last-child {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
}


/* moblie responsive */

@media (max-width:600px) {
  .social-upper-section{
   flex-direction: column;
   align-items: stretch;
   margin-bottom: 4rem;
  }

  .social-upper-section .left {
    margin-bottom: 4rem;
  }

  .social-upper-section .right {
    justify-content: space-between;
  }

  .social-follower-section{
    grid-template-columns: 1fr;
  }

  .overview-cards-section {
    grid-template-columns: 1fr;
  }
}